@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic);

*{
    margin: 0;
    padding: 0;
  }
  
    body {

    background-image: url("https://cdna.artstation.com/p/assets/images/images/047/486/492/original/seerlight-2.gif?1647701346") ; 
    

    
    
    }

    #name{
      display:flex;
      justify-content:center;
      align-items:center;
      font-size: 2em;
      padding: 4%;
    
        color: #fff;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
      

    }

  
    #quote {
      display:flex;
justify-content:center;
align-items:center;
font-size: 2em;
padding: 0%;

  color: #fff;

    }